header
{

    padding: 3px;
    margin-bottom: 5px;
    margin-top: 10px;

}
body{
  border-radius: 3px 6px;
    border: solid green;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-right: 60px;
    margin-left: 60px;

}


#a{
   text-decoration: underline;
}

nav
{
    background-color: green;
    border-radius: 3px 6px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-top: solid green;
    border-left: solid green;
    border-right: solid green;
    border-bottom: solid green;
}
nav li
{
    display: inline-block;
}
li a
{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 3px 6px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 150%;
    padding: 3px;
    border: solid green;
    font-weight: bold;
}
li a:hover
{
    /*background-color: pink;*/
    color: green;
}
nav ul
{
    margin-top: 3px;
    text-align: left;
}

h1
{
    text-align: center;
    font-family: algerian;
    text-decoration: none;
}
h1, h2, h3
{
    text-align: center;
}

#logo
{
    position: absolute;
    top: 60px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 250px;
    height: 10%;
    width: 5%;
}
#logo2
{
    position: absolute;
    top: 60px;
    right: 55px;
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 250px;
    height: 10%;
    width: 5%;
}



